* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightblue;
}
.container {
  width: 100%;
  text-align: center;
}
.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 20rem;
  margin: auto;
  padding-top: 1rem;
}
.score {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

h1 {
  font-size: 3rem;
}
.board-container {
  padding: 1rem 0rem;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.2rem;
  margin: auto;
  width: fit-content;
  background-color: black;
}
.room {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
}

.currnet-turn {
  background-color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.winner {
  text-align: left;
  font-size: 1.6rem;
  padding-top: 1rem;
  margin: auto;
  max-width: 20rem;
}
